.small{
    width: 120px;
}
.long{
    width: 240px;
}
.onoffswitch {
    position: relative; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; 
    width: 50%; 
    height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    padding-left: 10px;
}
.onoffswitch-inner:after {
    padding-right: 10px;
    text-align: right;
}
.urgent-swith-inner:before{
    content: "Urgent";
    background-color: #34A7C1; color: #FFFFFF;
}
.urgent-swith-inner:after{
    content: "Not Urgent";
    background-color: #EEEEEE; color: #999999;
}
.imp-swith-inner:before{
    content: "Important";
    background-color: #34A7C1; color: #FFFFFF;
}
.imp-swith-inner:after{
    content: "Less Important";
    background-color: #EEEEEE; color: #999999;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: calc(100% - 30px);
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
